@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Set your brand colors
$orange: #D69D85;
$blue-light: #569CD6;
$black-lighter: #444444;
$blue-lighter: #569CD6;
$beige-lighter: #fff6f2;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$grey-dark: $black-lighter;
$grey-light: $blue-lighter;
$primary: $orange;
$link: $blue-light;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "~bulma/bulma";

.centered-vh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demo-cont {
  width: 480px;
  height: 560px;
}